.tranigle-p{
    width: 0;
    height: 0;
    border-left: 8px solid #00000000;
    border-right: 8px solid #00000000;
    border-bottom:12px solid #000;
    transform: rotate(180deg);
}
.dialog-box{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
}